[submodule "SoulsFormats"]
	path = SoulsFormats
	url = git@github.com:soulsmods/SoulsFormatsNEXT.git
[submodule "SoulsIds"]
	path = SoulsIds
	url = git@github.com:FelipeVasquez350/SoulsIds.git
[submodule "SmithboxSoulsFormats"]
	path = SmithboxSoulsFormats
	url = git@github.com:vawser/Smithbox.git
